<a href="https://colab.research.google.com/github/minhajbscmm/minhajbscmm/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# prompt: print a mark sheet

print("-----------------------------------------------------------------")
print("Name: John Doe")
print("Roll No.: 12345")
print("Class: 10th")
print("-----------------------------------------------------------------")
print("Subject\t\tMarks")
print("-----------------------------------------------------------------")
print("English\t\t95")
print("Mathematics\t85")
print("Science\t\t90")
print("Social Studies\t80")
print("Hindi\t\t75")
print("-----------------------------------------------------------------")
print("Total Marks:\t425")
print("Percentage:\t85%")
print("Grade:\tA+")
print("-----------------------------------------------------------------")

-----------------------------------------------------------------
Name: John Doe
Roll No.: 12345
Class: 10th
-----------------------------------------------------------------
Subject		Marks
-----------------------------------------------------------------
English		95
Mathematics	85
Science		90
Social Studies	80
Hindi		75
-----------------------------------------------------------------
Total Marks:	425
Percentage:	85%
Grade:	A+
-----------------------------------------------------------------

In [ ]:
a=int(input())
b=int(input())
print(a+b)

4
6
10

In [ ]:
a=int(input("enter the first number:"))
b=int(input("enter the second the number:"))

if a<b:
  print("first number is less than second")
elif a>b:
  print("first number is greater than second")
else :
  print(f"first number is equal to second")

enter the first number:52
enter the second the number:66
first number is less than second

In [1]:
number =int(input())

print("multiplication table for",number,":")
for i in range (1,11):
   result = number*i
   print(f"{number}*{i}={result}")

5
multiplication table for 5 :
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [2]:
def addition(a,b):
  print(f"sum of{a},{b}=",a+b)

a=int(input())
b=int(input())

addition(a,b)

5
2
sum of5,2= 7

In [ ]:
a=6
b=5
print(a+b)

11

In [14]:
def factorial(n):
   if n==0:
    return 1;

   result = 1
   for i in range(1, n+1):
    result *=i
   return result

factorial(5)

120

In [30]:
def subtraction(a,b):
   print(f"difference of{a},{b}=",a-b)

a=int(input())
b=int(input())

subtraction (a,b)

10
10
difference of10,10= 0